html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
}

.center {
  text-align: center;
  font-size: 4vh;
}

.btn {
  border: 5px solid #e84993!important;
}
