html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  height: auto;
}

.center {
  text-align: center;
  font-size: 4vh;
}

.btn {
  border: 5px solid #e84993 !important;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 200px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
}
#customBtn:hover {
  cursor: pointer;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#panel1bh-header:hover {
  background-color: white !important;
}

.MuiTypography-root:hover,
.Mui-expanded,
.Mui-expanded:hover,
b,
b:hover {
  background-color: white !important;
}
